:root {
    --white: #fbfbfb;
    --black: #000;
    --blue: #187bfc;
    --gray: #8F918D;
    --gray2: #424245;
    --fonk: #ba13c0;
}

@font-face {
    font-family: 'Barlow';
    src: url(/data/Fonts/Barlow-Medium.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

.navbar {
    background: var(--gray2);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    font-size: 2rem;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_item {
    height: 25px;
}

.navbar_links {
    color: #fbfbfb;
    text-decoration: none;
    padding: 0rem, 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    transition: all 0.3s ease;
}

.navbar_links:hover {
    color: var(--blue);
    transition: all 0.3s ease;
}

.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #187bfc;
    background: -webkit-linear-gradient(to right, #18a1fc, #187bfc);
    background: linear-gradient(to right, #18a1fc, #187bfc);
    color: #fff;
    transition: all 0.3s ease;
}


@media screen and (max-width: 768px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar_menu {
        background: var(--gray2);
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar_menu.active {
        background: var(--gray2);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar_logo {
        padding-left: 25px;
    }
    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #187bfc;
    }

    .navbar_item {
        width: 100%;
    }

    .navbar_links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar_btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}


/* main background visuals */
.video_wrapper {
    max-width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

#main_vid {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
}

.fancy {
    /*background: linear-gradient(to right, rgba(0,0,0,0.3), rgba(0,0,0,0.1)) ,url('./data/images/carom_main_gif.gif');*/
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 0.5rem calc((100vw - 1200px)/2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fancy_content {
    color: var(--white);
    padding: 3rem, 1rem;
    line-height: 1;

}

.fancy_content h1 {
    font-size: clamp(3rem, 8vw, 7rem);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}   

.fancy_content p {
    font-size: clamp(1rem, 4vw, 2.5rem);
    margin-bottom: 3rem;
    margin-left: 1rem;
}

.hero_button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #187bfc;
    background: -webkit-linear-gradient(to right, #18a1fc, #187bfc);
    background: linear-gradient(to right, #18a1fc, #187bfc);
    color: #fff;
    transition: all 0.3s ease;
    margin-left: 1rem;
}

.info {
    padding: 8rem calc((100vw - 1200px) / 2);
}

.info_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}

.dataset__img {
    width: 100%;
    height: 100%;
}

.info__category {
    color: var(--blue);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.info__heading {
    margin-bottom: 1rem;
    font-size: clamp(2rem, 6vw, 3rem);
}

.dataset__features {
    list-style: none;
}

.info_feature {
    margin-bottom: 1.5rem;
    font-size: clamp(1rem, 5vw, 1,2rem);
}

.fa-circle-check {
    margin-right: 0.5rem;
    color: var(--blue);
}

@media screen and (max-width: 1000px) {
    #main_vid {
        left: 0;
        bottom: 0;
        z-index: -1;
        max-width: 65vw;
        max-height: 50vh;
        object-fit: cover;
    }
}

@media screen and (max-width: 768px) {
    #main_vid {
        left: 0;
        bottom: 0;
        z-index: -1;
    }

    .info_container {
        grid-template-columns: 1fr;
    } 
}

/*! Tools Section */
/*! Tools Section */
/*! Tools Section */
/*! Tools Section */

.tools {
    background: var(--black);
    color: var(--white);
    padding: 6rem calc((100vw - 1100px)/2);
    text-align: center;
}

.tools h1 {
    margin-bottom: 1rem;
    font-size: clamp(2rem, 5vw, 3rem);
    padding: 0 1rem;
}

.tools p {
    margin-bottom: 1rem;
    font-size: clamp(1rem, 3vw, 1.5rem);
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

.tools_desc {
    margin-bottom: 1rem;
    font-size: clamp(1rem, 3vw, 1.5rem);
}

.tools_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
}

.tools_card {
    padding: 2rem;
    min-height: 450px;
    width: 325px;
    background: var(--white);
    color: var(--black);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tools_benefits {
    min-height: 150px;
}

.tools_card p {
    margin-bottom: 1rem;
}

.tools_card h3 {
    margin-bottom: 2rem;
}

/*! Details Section */

.details {
    padding: 8rem calc((100vw - 1100px)/2);
}

.details_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto, 350px);
}

.details_card {
    margin: 1rem;
    border-radius: 10px;
    position: relative;
}

.details_text {
    padding: 1rem;
}

.details_text h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.details_desc {
    font-size: clamp(1rem, 3vw, 1.3rem);
    line-height: 1.4;
}

.details_card p {
    position: absolute;
    bottom: 30px;
    color: var(--white);
    left: 25px;
    font-size: 3rem;
}

.details_img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card_overlay_container {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
}

.card_overlay {
    width: 100%;
    height: 100%;            
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
    background: linear-gradient(to right, rgba(27, 0, 126, 0.884), rgba(82, 30, 223, 0.226));
    border-radius: 10px;
}

.details_text:nth-child(1) {
    grid-row: 1/2;
    grid-column: 2/3;
}

.details_text:nth-child(2) {
    grid-row: 5/6;
    grid-column: 1/2;
}

.details_card:nth-child(3) {
    grid-row: 1/3;
    grid-column: 1/2;
}

.details_card:nth-child(4) {
    grid-row: 2/4;
    grid-column: 2/3;
}

.details_card:nth-child(5) {
    grid-row: 3/5;
    grid-column: 1/2;
}

.details_card:nth-child(6) {
    grid-row: 4/6;
    grid-column: 2/3;
}

@media screen and (max-width: 768px){
    .details_wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .details_text:nth-child(1) {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    
    .details_text:nth-child(2) {
        grid-row: 6/7;
        grid-column: 1/2;
    }
    
    .details_card:nth-child(3) {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    
    .details_card:nth-child(4) {
        grid-row: 4/5;
        grid-column: 1/2;
    }
    
    .details_card:nth-child(5) {
        grid-row: 5/6;
        grid-column: 1/2;
    }
    
    .details_card:nth-child(6) {
        grid-row: 2/3;
        grid-column: 1/2;
    }
}






/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*!                           ABOUT PAGE                               */
/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/





.fancy_about {
    background: linear-gradient(to right, rgba(0,0,0,0.3), rgba(0,0,0,0.1)) ,url('./data/images/carom_main_gif.gif');
    height: 70vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0.5rem calc((100vw - 1200px)/2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fancy_content_about {
    color: var(--white);
    padding: 3rem, 1rem;
    line-height: 1;
}

.fancy_content_about h1 {
    font-size: clamp(3rem, 8vw, 7rem);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    margin-left: 1rem;
}

.fancy_content_about p {
    display: block;
    font-size: clamp(1rem, 4vw, 2.5rem);
    margin-bottom: 3rem;
    margin-left: 1rem;
}

.about {
    height: 50vh;
    padding: 2rem;
}

.about_wrapper {
    margin-left: 2rem;
    margin-right: 2rem;
}

.about_wrapper h1 {
    color: var(--black);
    font-size: 2.25rem;
}

.about_wrapper h2 {
    color: var(--black);
    margin-top: 2rem;
}

.about_wrapper p {
    display: block;
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
    line-height: 1.6rem;
}




/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*!                           TOOLS PAGE                               */
/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*!$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

.tools_desc {
    background-color: var(--black);
    height: 50vh;
    margin-bottom: 0;

    padding: 0.5rem calc((100vw - 1200px)/2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tools_desc_container {
    color: var(--white);
    padding: 3rem, 1rem;
    line-height: 1;
}

.tools_desc_container h1 {
    font-size: clamp(3rem, 8vw, 7rem);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    text-align: center;
}

.tools_desc_container p {
    font-size: clamp(1rem, 4vw, 2.5rem);
    margin-bottom: 3rem;
}

.stylish_line {
    width: max;
    height: 5px;
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 1.5rem;
}



.resim {
    height: 20vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #000;
    padding: 0.5rem calc((100vw - 1200px)/2);
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.resim_container {
    display: flex;
}

.resim_container_text {
    color: var(--white);
    padding: 3rem, 1rem;
    line-height: 1;
    flex: 1;
}

.resim_container_vid {
    flex: 1;
    background: linear-gradient(to right, rgba(0,0,0,0.3), rgba(0,0,0,0.1)) ,url('./data/images/resim_gif.gif');
    margin: 10px;
}

.tech_button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #187bfc;
    background: -webkit-linear-gradient(to right, #18a1fc, #187bfc);
    background: linear-gradient(to right, #18a1fc, #187bfc);
    color: #fff;
    transition: all 0.3s ease;
    height: 2rem;;
}

.resim_container  h1 {
    font-size: clamp(3rem, 8vw, 7rem);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.resim_container  p {
    font-size: clamp(1rem, 4vw, 2.5rem);
    margin-bottom: 3rem;
}



.segmentation {
    background-color: #000;
    height: 20vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0.5rem calc((100vw - 1200px)/2);
    align-items: center;
    padding: 1rem;
}

.segmentation_container {
    display: flex;
}

.segmentation_container_text {
    color: var(--white);
    padding: 3rem, 1rem;
    line-height: 1;
    flex: 1;
}

.segmentation_container_vid {
    flex: 1;
    background: linear-gradient(to right, rgba(0,0,0,0.3), rgba(0,0,0,0.1)) ,url('./data/images/carom_main_gif.gif');
    margin: 10px;
}

.segmentation_container  h1 {
    font-size: clamp(3rem, 8vw, 7rem);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.segmentation_container  p {
    font-size: clamp(1rem, 4vw, 2.5rem);
    margin-bottom: 3rem;
}








@mixin media() {
    @media (min-width: 768px) {
        @content;
    }
}



.sectionTitle {
  display: block;
  font-weight: 900;
  font-size: 35px;
  margin: 20px 0;
  
  @include media {
    font-size: 60px;
  }
}

header,
main,
footer {
  max-width: 960px;
  margin: 0 auto;
}

.card {
  height: 400px;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  /*border: 4px solid #b0215e;*/
  border: 4px solid var(--blue);
  margin-bottom: 20px;
  background-image: url('/data/images/carom_main_gif.gif');
  background-size: cover;
  
  @include media {
    height: 500px;
  }
}

.inner {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background: white;
  box-sizing: border-box;
  padding: 40px;
  
  @include media {
    width: 50%;
    height: 100%;
  }
}

.title {
  font-size: 24px;
  color: black;  
  text-align: center;
  font-weight: 700;
  color: #181818;
  text-shadow: 0px 2px 2px #a6f8d5;
  position: relative;
  margin: 0 0 20px 0;
  
  @include media {
    font-size: 30px;
  }
}

.subtitle {
  color: var(--blue);
  text-align: center;
}

.card2 {
  background-image: url('/data/images/seg_background.png');
}

.card3 {
  background-image: url('https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}

footer {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  padding: 5vh;

}

.footerLink {
    margin-right: 12px;
    color: #181818;
    text-decoration: none;
    position: relative;
}